<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.migunoupdatehook102"
    android:versionCode="101"
    android:versionName="2.1-api102">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />

    <application
        android:allowBackup="false"
        android:description="@string/xposed_description"
        android:extractNativeLibs="false"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Material.Light.NoActionBar" />
</manifest>
